<div class="error notice">
    <p>You must set the front-page to a static page to show movies on the front page. Please <a href="<?php echo admin_url() ?>/options-reading.php">click here</a> to change your settings.</p>
</div>