<script src="<?php echo plugins_url('movie-sites/js/movies.js') ?>"></script>
<script>
    var module = angular.module('MovieApp');
    module.value('rootUrl', '<?php echo get_home_url(); ?>')
</script>