<div ng-app="MovieApp" class="movie-list">
    <div class="container" ng-controller="MovieController">
        <div ng-if="loading">
            <p class="loading">
                <img class="loading-image" src="<?php echo plugins_url('movie-sites/images/loader.gif'); ?>"/>
                Loading</p>

        </div>
        <div ng-if="ready">
            <div ng-cloak class="movies-listing" ng-if="list.length > 0">
                <div class="movie" ng-repeat="item in list">
                    <img ng-src="{{item.poster_url}}" width="200" height="300"/>
                    <p class="title">{{item.title}}</p>
                    <span class="short-description">{{item.short_description}}</span>
                    <div class="year">
                        {{item.year}}
                    </div>
                    <div class="rating">
                        <span ng-repeat="star in item.rating track by $index" class="star">&#9733;</span>
                    </div>
                </div>
            </div>
            <div ng-if="list.length == 0">
                <div class="no-movies">
                    <p>You have not watched any movies. How do you spend your time?</p>
                </div>
            </div>
        </div>
    </div>
</div>