<?php
$movie_url = (empty($values['movie_url'][0]))?"":$values['movie_url'][0];
$movie_rating = (empty($values['movie_rating'][0]))?"":$values['movie_rating'][0];
$movie_year = (empty($values['movie_year'][0]))?"":$values['movie_year'][0];
?>
<div class="movie-meta-box">
    <div class="field">
        <label for="movie_url">
            Poster URL:
        </label>
        <input type="url" required="required" id="movie_url" class="movie_url" value="<?php echo $movie_url  ?>" name="movie_url">

    </div>
    <div class="field">
        <label for="movie_rating">Rating: </label>
        <select id="movie_rating" name="movie_rating">
            <option></option>
            <option <?php selected($movie_rating, 1) ?> value="1">1</option>
            <option <?php selected($movie_rating, 2) ?> value="2">2</option>
            <option <?php selected($movie_rating, 3) ?> value="3">3</option>
            <option <?php selected($movie_rating, 4) ?> value="4">4</option>
            <option <?php selected($movie_rating, 5) ?> value="5">5</option>
        </select>
    </div>
    <div class="field">
        <label>Year:</label>
        <input type="number" name="movie_year" value="<?php echo $movie_year ?>" required="required" min="1900" max="<?php echo date(" Y"); ?>" />
    </div>
    <?php wp_nonce_field('author-movie', 'movie_nonce') ?>
</div>