.post-type-movie {
  .movie-meta-box {
    $labelWidth: 200px;
    label {
      display: inline-block;
      width: $labelWidth;
    }
    input.movie_url {
      width: calc(100% - #{$labelWidth + 20px});
    }
    .field {
      padding: 10px 0;
    }
  }

}