.movie-list {
  .loading {
    text-align: center;
    img.loading-image {
      display: block;
      margin: 0 auto;
      width: 32px;
    }
  }

  .movie {
    float: left;
    margin-left: 10px;
    width: 200px;

    img {
      width: 200px;
      height: 300px;
    }

    .title {
      margin: 0;
      padding: 10px 0 0 0;
      display: block;
      width: 200px;
    }

    .year {
      float: right;
    }

    .title, .year, .rating, .short-description {
      font-family: Arial, serif;
      font-weight: bold;
      font-size: 13px;
    }
    .short-description {
      display: block;
      font-size: 12px;
      font-weight: normal;
      min-height: 1em;
    }
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}